.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  width: 50%;
}

.form__group {
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  box-shadow: 0 20px 5px rgba(0, 0, 0, 0.1);
}

.form__label {
  display: block;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.form__select,
.form__input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}
