.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 15vw;
  height: 100vh;
  background-color: #121212;
  border-right: 1px solid #e7e7e7;
  padding: 45px 0;
  z-index: 1000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
.navbar__logo {
  width: 90%; /* Ajusta el ancho de la imagen */
  height: 50px; /* Ajusta la altura de la imagen */
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio disponible sin distorsionarse */

}

.navbar__menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}

.navbar__item {
  /* padding: 10px;
  margin: 10px; */
  border-radius: 8px;
  cursor: pointer;
  width: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 0px;
  margin-top: 25px;
  transition: all 0.5s;
}

.navbar__item:hover,.navbar__item--active
{
  background-color: #FF698D;
}
.navbar__item:hover a,
.navbar__item:hover svg,
.navbar__item--active .item-menu a,
.navbar__item--active svg {
  fill:#fff;
  color: #fff;
}


.navbar__item-img svg {
  width: 25px; 
  height: 25px; 
  margin-right:2px;
}

.navbar__item a {
  color:#757575 ;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  width: 80%;
  margin-right: 10px;

}

.navbar__link {
  color: #fff;
  font-size: 18px;
  display: inline-block;
  background-color: #df1b49;
  padding: 10px 20px;
  border-radius: 13px;
  cursor: pointer;
  transition: all 0.3s;
}

.navbar__link:hover {
  background-color: #e64168;
}

.navbar__link,.navbar__item a:hover {
}