
.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}


.table tr:not(:first-child):hover {
  background-color: #ddd;
  cursor: pointer;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  /*   background-color: #053c7f;
 */
  color: black;

}
tfoot  {
  margin: 50px 0 ;
  display: flex;
  text-align:center;

}

tfoot tr {
  background-color: #f9f9f9;
}

tfoot td {
  padding: 10px;
  font-size: 16px;
  color: #333;
}

tfoot ul {
  list-style-type: none;
  padding: 0;
}

tfoot li {
  padding: 5px 0;
}