
.select__books{
  display: flex;
  margin: 60px;
}

 .selected-books__title{
  color: #da224d !important;
 }


/*Select book*/
.selected-books__article {
  width: 40%;
  margin: 0 auto;
}

.selected-books__title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.selected-books__list {
  list-style-type: none;
  padding: 0;

}

.selected-books__group{
  color: #da224d;
  font-weight: bolder;
  font-size: 18px;
}

.selected-books__item {
  padding: 15px 0 ;
  border-bottom: 1px solid #ddd;
}

input:focus,select:focus {
  outline: none;
  border-color: #FF698D;
}

.selected-books__item:last-child {
  border-bottom: none;
}

.result h2 {
  font-size: 24px;
  color: #e64168;
}


@media (max-width: 768px) {
  
.select__books{
  /* width: 80vw; */
  flex-direction: column-reverse;
  margin:  0 auto;
}

.selected-books__container{
  width: 100%;
  margin: 50px auto;

}

.selected-books__title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}


}





