.home {
  padding-bottom: 50px ;

}

.home__header {
  margin-bottom: 20px;
}

.home__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.home__actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.home__actions ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.home__actions li {
  margin-right: 10px;
}

.home__actions a {
  color: #0071FF;
  text-decoration: none;
}

.home__actions a:hover {
  color: #0056b3;
}

.home__book-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px; 
}

.home__book-table th, .home__book-table td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center; 
}

.home__book-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.home__book-table tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

.home__book-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #7da6d9;
  color: white;
}